/* src/styles.css */
body {
    background: url('C:\Users\aquil\Desktop\nova\NOVA---Navigational-Object-Verification-and-Alignment\website\src\images\orion_nebula.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    color: white;
  }
  
  .header {
    text-align: center;
    margin-top: 20px;
  }
  
  .search-container {
    margin: 20px auto;
    text-align: center;
  }
  
  .about-section {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 40px;
  }
  